*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: NotoSans-Light;
    src: url("Noto_Sans/NotoSans-Light.ttf");
}

@font-face {
    font-family: NotoSans-Regular;
    src: url("Noto_Sans/NotoSans-Regular.ttf");
}

.container > .image {
    width: 1344px;
    height: 983px; 
    background-image: url("images/CI-Platform-Assets/login.png");
    background-position: left;
    background-size: cover;
    background-position: relative; 
    display: flex;
    
}

.part {
    top: 5px;
    left: 1344px;
    width: 576px;
    height: 983px;
    position: absolute;
}

.form {
    top: 343px;
    left: 87px;
    right: 87px;
    width: 402px;
    height: 396px;
    position: relative; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.form p{
    font-size: 22px;
    font-family: 'NotoSans-Regular';
    color: #414141;
    height: 30px;
    text-align: left;
    left: 125px;
    position: relative;
}

.form p1{
    font-size: 14px;
    font-family: 'NotoSans-Light';
    color: #414141;
    text-align: center;
    margin-top: 5px;
    position: relative;
}

.form p2{
    font-size: 16px;
    font-family: 'NotoSans-Light';
    text-align: left;
    margin-top: 31px;
}

.form p3{
    font-size: 16px;
    font-family: 'NotoSans-Light';
    text-align: left;
}
.box{
    height: 56px;
    width: 401px;
    margin-bottom: 25px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0.97px 0.26px 3px #0000000D;
    margin-top: 8px;
}

#submit {
    width: 401px;
    height: 48px;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    font-size: 17px;
    font-family: 'NotoSans-Regular';
    color: #F88634;
    margin-bottom: 17px;
}
#submit:hover{
    cursor: pointer;
    background-color: #F88634;
    color: white;
}

.Login{
    font-size: 14px;
    font-family: 'NotoSans-Light';
    text-decoration: none;
    left: 184px;
    position: relative;
    color: #414141;
    text-align: center;
    width: 36px;
    height: 19px;
}

.privacy{
    font-family: 'NotoSans-Light';
    font-size: 14px;
    color: #414141;
    text-decoration: none;
    position: relative;
    width: 128px;
    height: 19px;
    text-align: left;
    top: 491px;
    left: 245px;
    display: block;
}